@tailwind base;
@tailwind components;
@tailwind utilities;



/* @import './styles/custom.css'; */

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.border_top{
  border-top: 0.5px solid #7D8184;
}
.border_bottom{
  border-bottom: 0.5px solid #7D8184;
}

.border_right{
  border-right: 0.5px solid #7D8184;
}

.slider_backround{
  background-image: url("./src/assets/images/sliderBackround.png");
  background-size: cover;
  width: 100%;
}

.arrival_image1{
  background-image: url("./src/assets/images/ps5.png");
  background-size: cover;
  width: 100%;
}

.arrival_image2{
  background-image: url("./src/assets/images/women.png");
  background-size: cover;
  width: 100%;
}

.arrival_image3{
  background-image: url("./src/assets/images/speakers.png");
  background-size: cover;
  width: 100%;
}

.arrival_image4{
  background-image: url("./src/assets/images/parfume.png");
  background-size: cover;
  width: 100%;
}