@tailwind base;
@tailwind components;
@tailwind utilities;



@import './styles/custom.css';

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.border_top{
  border-top: 0.5px solid #7D8184;
}
.border_bottom{
  border-bottom: 0.5px solid #7D8184;
}

.border_right{
  border-right: 0.5px solid #7D8184;
}

.slider_backround{
  background-image: url("./src/assets/images/sliderBackround.png");
  background-size: cover;
  width: 100%;
}